<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.lyceum.dao.mybatis.mappers.AddressMapper" >
	
	<!-- INSERT QUERIES -->
	
		<insert id="insertHouseNo">
			INSERT INTO tblHouseNo(strHouseNoDesc) VALUES (#{address.strHouseNo})
		</insert>
		
		<insert id="insertStreet">
			INSERT INTO tblStreet(strStreetDesc) VALUES (#{address.strStreet})
		</insert>
		
		<insert id="insertBarangay">
			INSERT INTO tblBarangay(strBarangayDesc) VALUES (#{address.strBarangay})
		</insert>
		
		<insert id="insertCity">
			INSERT INTO tblCity(strCityDesc) VALUES (#{address.strCity})
		</insert>
		
		<insert id="insertProvince">
			INSERT INTO tblProvince(strProvinceDesc) VALUES (#{address.strProvince})
		</insert>
		
		<insert id="insertAddress">
			INSERT INTO tblAddress (skHouseNoFK,
									skStreetFK,
									skBarangayFK,
									skCityFK,
									skProvinceFK,
									skPersonFK)
			VALUES ((SELECT skHouseNo FROM tblHouseNo WHERE strHouseNoDesc = #{person.address.strHouseNo}),
					(SELECT skStreet FROM tblStreet WHERE strStreetDesc = #{person.address.strStreet}),
					(SELECT skBarangay FROM tblBarangay WHERE strBarangayDesc = #{person.address.strBarangay}),
					(SELECT skCity FROM tblCity WHERE strCityDesc = #{person.address.strCity}),
					(SELECT skProvince FROM tblProvince WHERE strProvinceDesc = #{person.address.strProvince}),
					(SELECT skPerson FROM tblPerson p
						INNER JOIN tblName n ON p.skNameFK = n.skName
						WHERE n.strFirstName = #{person.name.strFirstName}
						AND n.strMiddleName = #{person.name.strMiddleName}
						AND n.strLastName = #{person.name.strLastName})
			)
		</insert>
	
	<!-- END INSERT QUERIES -->
	
	</mapper>
	